{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}


<!-- Main -->
    <header class="major">
        <h2>Prueba HCMFront</h2>
    </header>
    <div class="container">
        <h4>Ingrese los datos de su reserva</h4>
        <form id="login" method="post" action="/agregar_reserva/">
             {% csrf_token %}
            <div class="6u 12u$(xsmall)">
                Fecha: {% render_field reserva_form.fecha id="fecha" %}{{ reserva_form.fecha.errors }}
            </div>
            <div class="6u 12u$(xsmall)">
                Horario: {% render_field reserva_form.hora_inicio id="basicExample" %}{% render_field reserva_form.hora_fin id="basicExample2" %}{{ reserva_form.hora_inicio.errors }}{{ reserva_form.hora_fin.errors }}
            </div>
            <div class="6u 12u$(xsmall)">
                Cantidad de personas: {% render_field reserva_form.cantidad type="text" %}{{ reserva_form.cantidad.errors }}
            </div>
            <br>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Agregar insumos" class="special" /></li>
                </ul>
            </div>
        </form>
    </div>
    <link href="{% static "timeform/jquery.timepicker.css" %}" rel="stylesheet">
    <link href="{% static "dateform/build/jquery.datetimepicker.min.css" %}" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static "timeform/jquery.timepicker.min.js" %}"></script>
<script src="{% static "dateform/build/jquery.datetimepicker.min.js" %}"></script>
<script src="{% static "dateform/build/jquery.datetimepicker.full.js" %}"></script>
<script src="{% static "dateform/build/jquery.datetimepicker.full.min.js" %}"></script>
        <script>
    (function ($) {
      $('#basicExample').timepicker({
          'timeFormat': 'H:i:s'
      });
    })(jQuery);
</script>
<script>
    (function ($) {
      $('#basicExample2').timepicker({
          'timeFormat': 'H:i:s'
      });
    })(jQuery);
</script>
<script>
    jQuery('#fecha').datetimepicker({
        format:'Y-m-d ',
    });
</script>

{% endblock content %}

