{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<!-- Main -->
    <header class="major">
        <h2>Prueba HCMFront</h2>
    </header>

    <div class="container">

        <h4>Indica el detalle de tu solicitud </h4>


        <form id="login" method="post" action="/agregar_solicitud/{{ r.id }}/{{ sr.id }}/">
             {% csrf_token %}
            <div class="6u 12u$(xsmall)">
                Mensaje: {{ solicitud_form.mensaje }}
            </div>
            <br>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Agregar Insumo" class="special" /></li>
                </ul>
            </div>
        </form>
    <a href="/index_admin/">Volver</a>
    </div>
{% endblock content %}