<!DOCTYPE HTML>
{% load staticfiles %}

<html>
	<head>
		<title>HCMFront</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo">
                        <a href="">HCMFront</a>
                    </h1>

                    <br>
                    {% if user and not user.is_anonymous %}
                    <a href="/logout/"> Cerrar sesión </a>
                {% endif %}
				</header>

			{% block content %}
            {% endblock %}
			<!-- Footer -->
        {% if request.user|has_group:"Administrador" %}
            <a href="/index_admin/">Volver</a>
            {% elif request.user|has_group:"Empleado" %}
            <a href="/index_empleado/">Volver</a>
        {% endif %}
		</div>

		<!-- Scripts -->
			<script src="{% static "assets/js/jquery.min.js" %}"></script>
            <script src="{% static "assets/js/jquery.scrolly.min.js" %}"></script>
			<script src="{% static "assets/js/jquery.dropotron.min.js"%}"></script>
            <script src="{% static "assets/js/jquery.scrollex.min.js"%}"></script>
            <script src="{% static "assets/js/skel.min.js"%}"></script>
            <script src="{% static "assets/js/util.js"%}"></script>
            <script src="{% static "assets/js/main.js"%}"></script>
	</body>
</html>